body {
    background: black;
    color: whitesmoke;
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

.conteudo {
    margin: 50px auto 50px;
    width: 100%;
    max-width: 380px;
    background: #2b2a2a;
    padding: 55px;
    border-radius: 12px;
}

.topo {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
}

#entrada_nova_tarefa {
    width: 350px;
    padding: 15px;
    background: #191818;
    color: whitesmoke;
    border-radius: 12px;
    border: 1px solid #191818;
    outline: none;
    font-size: 1.2rem;
}

#botao_adicionar {
    width: 45px;
    border-radius: 12px;
    border: 1px solid #191818;
    background: #191818;
    color: whitesmoke;
    outline: none;
}

#botao_adicionar:hover {
    background: #1f1e1e;
    cursor: pointer;

}

.textoTarefa {
    padding: 0;
    margin: 0;
    color: whitesmoke;
}

#lista_tarefas {
    list-style: none;
    padding: 0;
    margin: 0;
}

#lista_tarefas li {
    padding: 20px;
    background: #191818;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;

}

.botaoAcao {
    border-radius: 20px;
    border: 1px solid #191818;
    width: 38px;
    height: 38px;
    margin-right: 8px;
    cursor: pointer;
    background: #2b2a2a;
    color: whitesmoke;
}

.botaoAcao:hover {
    background: #3c3a3a;
    
}