body {
    background: black;
    color: whitesmoke;
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

.conteudo {
    margin: 50px auto 50px;
    width: 100%;
    max-width: 380px;
    background: #2b2a2a;
    padding: 55px;
    border-radius: 12px;
}

.topo {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
}

#entrada_nova_tarefa {
    width: 350px;
    padding: 15px;
    background: #191818;
    color: whitesmoke;
    border-radius: 12px;
    border: 1px solid #191818;
    outline: none;
    font-size: 1.2rem;
}

#botao_adicionar {
    width: 45px;
    border-radius: 12px;
    border: 1px solid #191818;
    background: #191818;
    color: whitesmoke;
    outline: none;
}

#botao_adicionar:hover {
    background: #1f1e1e;
    cursor: pointer;

}

.textoTarefa {
    padding: 0;
    margin: 0;
    color: whitesmoke;
}

#lista_tarefas {
    list-style: none;
    padding: 0;
    margin: 0;
}

#lista_tarefas li {
    padding: 20px;
    background: #191818;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;

}

.botaoAcao {
    border-radius: 20px;
    border: 1px solid #191818;
    width: 38px;
    height: 38px;
    margin-right: 8px;
    cursor: pointer;
    background: #2b2a2a;
    color: whitesmoke;
}

.botaoAcao:hover {
    background: #3c3a3a;
    
}

#janela_edicao {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background: #191818;
    border: 1px solid #2f2e2e;
    width: 415px;
    border-radius: 12px;
    z-index: 200;
    /* display: none;  */
    /* retirar */
}

#janela_edicao.abrir {
    display: block !important;
}

#btn_fechar_edicao {
    position: absolute;
    top: -25px;
    right: -18px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #2d2c2c;
    background: #2d2c2e;
    color: whitesmoke;
    outline: none;
    cursor: pointer;

}

#janela_edicao_fundo {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    opacity: 0.8;
    z-index: 100;
    display: none;
}

#janela_edicao_fundo.abrir {
    display: block !important;
}

form {
    width: 100%;
    margin-top: 20px;
}

.frm-linha {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.frm-linha label {
    margin-bottom: 7px;
}

.frm-linha input {
    padding: 15px;
    border-radius: 12px;
    outline: none;
    border: 1px solid #191818;
    font-size: 1.2rem;
    background: #2d2c2c;
    color: whitesmoke;
}

.frm-linha button {
    background: #2d2c2c;
    border: 1px solid #191818;
    padding: 7px;
    border-radius: 12px;
    margin-bottom: 10px;
    color: #CCC;
    cursor: pointer;
    height: 50px;
    font-size: 1.3rem;
    outline: none;
}

.frm-linha button:hover {
    background: #3c3a3a;
}